# 0 Google Colab

# 0.1 Git clone

In [1]:
# !git clone https://github.com/wanchaloem-n/Binance-API.git

# 0.2 Text

Latex


$${\frac {1}{1+e^{-x}}}$$

HTML


<h1>test</h1>
<center><p>test</p></center>

# 1 Basic syntax

# 1.1 Variables

In [2]:
a=3.21 
A=1.23 
num=5 

print(a) 
print(type(a)) 

print(A) 
print(type(A)) 

print(a+A)

print(num)
print(type(num))

3.21
<class 'float'>
1.23
<class 'float'>
4.4399999999999995
5
<class 'int'>

In [3]:
age=12
height=103.5
C=5+2j
gender='male'
# gender="male"
# gender="""male"""
single=True
single=False
print(age,type(age))

12 <class 'int'>

# 1.2 Form Field

In [4]:
# =====
in1 = "test" #@param {type:"string"}
in2 = "a" #@param ["a", "b", "c"]
in3 = 87 #@param {type:"slider", min:0, max:100, step:1}
print(in1,in2,in3)

test a 87

# 1.3 Basic math operations

In [5]:
var1 = 24
var2 = 11
print("plus: ",var1+var2)
print("minus: ",var1-var2)
print("multiply: ",var1*var2)
print("divide: ",var1/var2)
print("pow1: ",var1**var2)
print("pow2: ",pow(var1,var2))
print("pow3: ",pow(var1,var2,5))
print("divide2: ",var1//var2)
print("modulo: ",var1%var2)

plus:  35
minus:  13
multiply:  264
divide:  2.1818181818181817
pow1:  1521681143169024
pow2:  1521681143169024
pow3:  4
divide2:  2
modulo:  2

In [6]:
var3 = (var1 + var2)/5
var3 = var3-2
var3 = var3+var2
print(var3)

16.0

# 1.4 Comparision

In [7]:

var1 = 24
var2 = 11
var3 = (var1>var2)
print(var3,type(var3))
print(var1<var2)
print(var1>=var2)
print(var1<=var2)
print(var1==var2)
print(var1!=var2)

True <class 'bool'>
False
True
False
False
True

# 1.5 Boolean operation

In [8]:
var1 = True
var2 = False
var3 = var1 and var2


print(var3)
print(var1 or var2)
print(not var2)
print(var1 and (not var2))

False
True
True
True

In [9]:
print(0.1+0.2)
print(0.1+0.2 == 0.3)

0.30000000000000004
False

In [10]:
# del var2
# print(var2)

# 1.6 Installing and Importing Libraries

In [11]:
# !python --version
# !pip list
# !pip freeze
# !pip freeze > requirements.txt

In [12]:
## https://pypi.org/project/pythainlp/
# !pip install pythainlp
# !pip install --upgrade pythainlp
# !pip uninstall  pythainlp

# !pip install -r requirements.txt

In [13]:
# import math
# print(dir(math))
# print(math.sin(2))
# print(math.sqrt(2))
# del math

# from math import sqrt
# # print(math.sin(2))
# # print(sin(2))
# print(sqrt(2))
# del sqrt


# from math import *
# print(sin(2))
# print(sqrt(2))

# from math import sqrt as sqt
# sqt(4)

In [14]:
# ?math.sin

# 1.7 Mathematical functions

In [15]:
import math
var1 = 10.6
var2 = 3.4
print("abs: ",abs(var1))
print("round: ",round(var1))

print("e: ",math.e)
print("pi: ",math.pi)

print("sin: ",math.sin(var1))
print("floor: ",math.floor(var1))
print("ceil: ",math.ceil(var1))
print("exp: ",math.exp(var1))
print("sqrt: ",math.sqrt(var1))
print("log_e: ",math.log(var1))
print("log: ",math.log(var1,3))

abs:  10.6
round:  11
e:  2.718281828459045
pi:  3.141592653589793
sin:  -0.9227754216128067
floor:  10
ceil:  11
exp:  40134.83743087578
sqrt:  3.255764119219941
log_e:  2.3608540011180215
log:  2.1489419201565423

exercise
![image.png]()

In [16]:
x = 1 
mu = 0.5
sigma = 1.5
# ...

# 2 List, Tuple, Set ,and Dictionary

In [17]:

list1 = ["red","green","green",25]
set1 = {"red","green","green",25}

tuple1 = (250000,"male",25,25)
dict1 = {"income":250000,"gender":"male",
         "age":25,"experience":25}

print(list1)
print(set1)
print(tuple1)
print(dict1)

['red', 'green', 'green', 25]
{25, 'red', 'green'}
(250000, 'male', 25, 25)
{'income': 250000, 'gender': 'male', 'age': 25, 'experience': 25}

# 2.1 List

In [18]:
list1 = [1, 'red', 'blue', 'red', 'r', 'b']

print(list1[2])
print(list1[-2])
print(list1[1:4])
print(list1[4:])
print(list1[:3])

blue
r
['red', 'blue', 'red']
['r', 'b']
[1, 'red', 'blue']

In [19]:
list1 = [1, 'red', 'blue', 'red', 'r', 'b']
print(list1[1:4:2])
print(list1[:4:2])
print(list1[1::2])
print(list1[1:4:])
print(list1[1::])
print(list1[::])

['red', 'red']
[1, 'blue']
['red', 'red', 'b']
['red', 'blue', 'red']
['red', 'blue', 'red', 'r', 'b']
[1, 'red', 'blue', 'red', 'r', 'b']

In [20]:
# Nested list
list1 = [1, [2, 3], [4, 5, 6], [[7, 8], 9]] 
print(list1)
print(list1[2])
print(list1[2][1])

[1, [2, 3], [4, 5, 6], [[7, 8], 9]]
[4, 5, 6]
5

In [21]:
list1 = [1, 'red', 'blue', 'red', 'r', 'b']
list2 = [1, 5,3,7]
print(list1+list2)

# list1.remove('red')
# print(list1)

# list1.append(12)
# print(list1)

# list2.sort()
# print(list2)

# list2.sort(reverse=True)
# print(list2)


# list2.reverse()
# print(list2)

[1, 'red', 'blue', 'red', 'r', 'b', 1, 5, 3, 7]

In [22]:
print(len(list1))

6

In [23]:
#EX print -> 8

# 2.2 Set

In [24]:
set1 = {1, 'red', 'blue', 'red', 'r', 'b',False}
set2 = {2, 'red', 'blue'}
set3 = {2, 'red', 'b'}
print(set1)
print('red' in set1)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1-set2)
print(len(set1))
print((set1.intersection(set2)).union(set3))

{False, 1, 'r', 'blue', 'red', 'b'}
True
{False, 1, 2, 'blue', 'r', 'red', 'b'}
{'blue', 'red'}
{False, 1, 'b', 'r'}
6
{2, 'blue', 'red', 'b'}

# 2.3 Tuple

In [25]:
tuple1 = (250000,"male",25,25)
tuple2 = (250000,"female",13,12)
print(tuple1+tuple2)

(250000, 'male', 25, 25, 250000, 'female', 13, 12)

In [26]:
list1 = ["red","green","green",25]
print(set(list1))
print(tuple(list1))

{25, 'red', 'green'}
('red', 'green', 'green', 25)

In [27]:
set1 = {"red","green","green",25}
print(list(set1))
print(tuple(set1))

[25, 'red', 'green']
(25, 'red', 'green')

In [28]:
tuple1 = (250000,"male",25,25)
print(list(tuple1))
print(set(tuple1))

[250000, 'male', 25, 25]
{250000, 'male', 25}

# 2.4 Dictionary

In [29]:
dict1 = {"income":250000,"gender":"male",
         "age":25,"experience":25}
print(dict1["income"])

250000

In [30]:
dict1 = {"income":[250000,3000,5000],"gender":"male",
         "age":25,"experience":25}
print(dict1["income"])

[250000, 3000, 5000]

In [31]:
dict1 = {"income":{"A":250000,"B":3000,"C":5000},
         "gender":"male",
         "age":25,"experience":25}
print(dict1["income"])

{'A': 250000, 'B': 3000, 'C': 5000}

In [32]:
dict1 = {"income":{"A":250000,"B":3000,"C":5000},
         "gender":"male",
         "age":25,"experience":25}
print(dict1.keys())
print(dict1.values())

dict_keys(['income', 'gender', 'age', 'experience'])
dict_values([{'A': 250000, 'B': 3000, 'C': 5000}, 'male', 25, 25])

# 3 Condition and Loop

# 3.1 Condition

In [33]:
cond = True
if cond:
    print("A")
else:
    print("B")
print("C")

A
C

In [34]:
score=47
if score>50:
    print("ผ่าน")
else:
    print("ไม่ผ่าน")

ไม่ผ่าน

In [35]:
score=2
if score>50:
    print("ผ่าน")
elif score>10:
    print("สอบอีกรอบ")
else:
    print("ไม่ผ่าน")

ไม่ผ่าน

In [36]:
x = 25
if x<10:
    print("A")
elif x<20:
    print("B")
else:
    print("C")

C

แบบฝึกหัด คำนวณ BMI

BMI = w/(h**2) <br/>
น้อยกว่า 18.50	น้ำหนักน้อย / ผอม	มากกว่าคนปกติ <br/>
ระหว่าง 18.50 - 22.90	ปกติ (สุขภาพดี)	เท่าคนปกติ<br/>
ระหว่าง 23 - 24.90	ท้วม / โรคอ้วนระดับ 1	อันตรายระดับ 1<br/>
ระหว่าง 25 - 29.90	อ้วน / โรคอ้วนระดับ 2	อันตรายระดับ 2<br/>
มากกว่า 30	อ้วนมาก / โรคอ้วนระดับ 3	อันตรายระดับ 3<br/>

# 3.2 while loop

In [37]:
# while loop
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [38]:
scores=[2,47,0,52]
i=0
while scores[i] > 0:
    print(scores[i])
    i=i+1

2
47

In [39]:
scores=[2,47,0,52]
i=0
while True:
    print(scores[i])
    i=i+1
    if scores[i]<=0:
        break

2
47

# 3.3 for loop

In [40]:
# for loop
scores=[2,47,0,52]
for s in scores:
    print(s)

2
47
0
52

In [41]:
r = range(5)
print(r)
print(list(r))

range(0, 5)
[0, 1, 2, 3, 4]

In [42]:
r = range(3,10)
print(r)
print(list(r))

range(3, 10)
[3, 4, 5, 6, 7, 8, 9]

In [43]:
scores=[2,47,0,52]
for i in range(3):
    print(i,scores[i])

0 2
1 47
2 0

In [44]:
scores=[2,47,0,52]
for i in range(len(scores)):
    print(i,scores[i])

0 2
1 47
2 0
3 52

In [45]:
scores=[2,47,50,52]
for i in range(len(scores)):
    if scores[i]>50:
        print(i,"ผ่าน")
    else:
        print(i,"ไม่ผ่าน")

0 ไม่ผ่าน
1 ไม่ผ่าน
2 ไม่ผ่าน
3 ผ่าน

In [46]:
for i in range(10):
    if i==5:
        continue
    elif i==8:
        break
    print(i)

0
1
2
3
4
6
7

แบบฝึกหัด จงเขียน python code เพื่อหาตัวประกอบเฉพาะทั้งหมด 
ของ N1, N2
เมื่อกำหนด 
N1=2475115831,
N2=166153499473114472511703242428645381

# 4 custom function

In [47]:
a = 5
print("result: ",a+3)

result:  8

In [48]:
def f1():
    a = 5
    print("result: ", a+3)
f1()
f1()

result:  8
result:  8

In [49]:
def f(x):
    y = x**2 + 5
    return y
print(f(1))
print(f(2))
print(f(3))
print(f(4))

6
9
14
21

In [50]:
def f(x):
    """
    param x: ...
    """
    y = x**2 + 5
    return y
print(f(1))
# ?f

6

In [51]:
def f(x,y):
    z = x**2 + y**2 + 5
    return z
result = f(5,3)
print(result)

39

In [52]:
def f(x,y=6):
    z = x + y + 5
    return z
result = f(5)
print(result)
result = f(x=6)
print(result)

16
17

In [53]:
def f(x,y):
    z1 = x**2 + y**2 + 5
    z2 = x**2 + y**2 - 5
    return z1,z2
result1,result2 = f(5,3)
print(result1)
print(result2)

39
29

In [54]:
#lambda function
# def f(x):
#     y = x**2 + 5
#     return y
f2 = lambda x: (x**2 + 5)
print(f2(6))

41

In [55]:
f2 = lambda x,y=3: (x**2 + y)
print(f2(6))

39

แบบฝึกหัด

$$sigmoid(x) ={\frac {1}{1+e^{-x}}}$$